<script src="https://cdn.tailwindcss.com"></script>

<div id="card-auth" class="flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col justify-center items-center bg-inherit w-80 outline outline-1 outline-gray-300 p-10 shadow-md rounded-sm bg-white z-50">
        
        <div class="absolute htmx-indicator-enable">
            {% include "partials/elements/htmx_indicator.html" %}
        </div>

        <div class="htmx-indicator-disable bg-inherit w-full">
            <div class="text-center">
                {% include "partials/elements/logo.html" %}
            </div>
            <h1 class="text-center py-2 text-sm">Sign up</h1>
            <form class="my-5" hx-push-url="/register" hx-post="/register" hx-indicator="#card-auth" hx-target-5*="#alerts" hx-swap="multi:#alerts:beforeend,#embed:outerHTML">
                <input required class="focus:outline-orange-500 focus:outline-2 text-base rounded-sm py-1 px-2 outline-gray-300 outline outline-1 w-full my-2" 
                type="email" name="email" placeholder="Email"/>
                <input required class="focus:outline-orange-500 focus:outline-2 text-base rounded-sm py-1 px-2 outline-gray-300 outline outline-1 w-full my-2" 
                type="email" name="emailConfirm" placeholder="Comfirm Email"/>
                <input required class="focus:outline-orange-500 focus:outline-2 text-base rounded-sm py-1 px-2 outline-gray-300 outline outline-1 w-full my-2"
                type="password" name="password" placeholder="Password"/>
                <input required class="focus:outline-orange-500 focus:outline-2 text-base rounded-sm py-1 px-2 outline-gray-300 outline outline-1 w-full my-2"
                type="password" name="passwordConfirm" placeholder="Comfirm Password"/>
                <div class="flex items-center justify-between my-5">
                    <a hx-push-url="/login" hx-get="/partials/login" hx-target="#card-auth" hx-swap="outerHTML" hx-indicator="TODO"
                        class="cursor-pointer text text-gray-400 hover:opacity-70">Log In</a>
                    <button class="py-2 px-5 hover:opacity-70 rounded-md bg-slate-500 text-slate-100 font-medium focus:outline-orange-500 focus:outline-1" type="submit">
                        Sign up
                    </button>
                </div>
            </form>
            {% include "partials/elements/sso.html" %}
        </div>

    </div>

</div>
